*{
    margin: 0;
    padding: 0;
    transition: all ease 0.4s;
}
body{
    background: url(../img/whatsapp-bg.png) rgba(0,0,0,0.9);
    scroll-behavior: smooth;
    /* background-size: cover; */
}
a{
    scroll-behavior: smooth;
}
.transparent{
    background: transparent;
}
.bg-w{
    background: rgba(255,255,255,0.6);
    color: #000;
    font-weight: 600;
}
.caption{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
}
#content{
    position: absolute;
    display: block;
    /* display: none; */
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.9);
    z-index: 2;
}
.border-none{
    border: none;
    border-radius: 0;
}
.exit{
    color: #fff;
    float: right;
    margin-top: 10px;
    background: forestgreen;
}
.list li{
    list-style: none;
}
.side-bar,
.main{
    position: fixed;
    overflow: auto;
}
.main{
    width: 79%;
    height: 90vh;
    top: 55px;
    margin-left: 20%;
    border-left: 2px solid rgb(17, 78, 17);
    /* background-color: aquamarine; */
}
.modalAdmin{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    max-height: 350px;
    overflow: auto;
    background-color: #fff;
}
.side-bar{
    width: 20%;
    height: 90vh;
    margin-top: 55px;
}
.table-size{
    /* position: absolute; */
    max-height: 480px;
    overflow: auto;
}
.top-fixed{
    position: fixed;
}
.white{
    color: #fff;
}
.black{
    color: #111;
}
.red{
    color: #ff0000
}
.center-login{
    width: 30%
}
.center-login,
.center-register{
    padding: 10px;
    margin: 10% auto;
    border: 2px solid #ccc;
    border-radius: 6px;
}
.center-register{
    width: 50%
}
@media(max-width: 900px) {
    .center-login,
    .center-register{
        width: 100%;
        margin: 0 auto;
    }
}

.py{
    width: 100%;
    height: 435px;
    overflow: auto;
}
.list-student{
    display: block;
    list-style: none;
}
.list-student li{
    display: block;
    position: relative;
}
.list-student li a{
    text-align: center;
    display: block;
    font-size: 1.2rem;
    padding: 8px;
    background-color: #ccc;
    color: #fff;
    border-bottom: 1px solid #666;
    transition: all ease 0.3s;
}
.list-student li a:hover{
    color: #ccc;
    background-color: #666;
    letter-spacing: 1px;
}
/* #myChart{
    position: relative;
    background: linear-gradient(4deg, red, blue);
    width: 400px;
    height: 400px;
    margin: 0 auto;
    border-radius: 50%;
    border: 10px solid #cccc;
    transition: all ease 0.5s;
}
#myChart:hover{
    background: linear-gradient(-8deg, red, blue);
} */

.content{
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
}
#closebtn{
    float: right;
    font-size: 1.7rem;
    cursor: pointer;
    color: #fff;
}
.modalC{
    position: fixed;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(255,255,255);
    animation: opacity 1s;
    border-radius: 5px;
    transition: 0.3s;
}
.modalC:hover{
    box-shadow: 0 5px 10px #000;
}
@keyframes opacity{
    to{opacity: 1;}
    from{opacity: 0;}
}
.header{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.footer{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.header, .footer, .body{
    padding: 10px;
}
.header, .footer{
    background: coral;
}
.footer span{
    margin: 0;
    position: relative;
    margin-top: -10px;
    right: 0;
    font-size: 0.7rem;
}
.ani{
    animation: display;
    animation-delay: 2s;
}
@keyframes ani{
    to{display: block;}
    from{display: none;}
}

.vio{
    background: rgba(0,0,0,0.6);
    color: #fff;
    width: 50%;
    margin: 5% auto;
    padding: 10px 20px;
}